/*Especificaciones generales delas 4 paginas*/

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    scroll-behavior: smooth;
    min-height: 100vh;
    color-scheme: light dark;
    color: #ffff;
    background-color: #0d1b2a;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;
color: #832020;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
a{ list-style: none; text-decoration: none; color: rgb(224, 215, 215); }

.header-foto {
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
background-color: #0d1b2a; 
padding: 15px;
}

.logo{
  width: 200px;
  height: auto;
}

.divisor {
  width: 80%;
  border: none;
  height: 2px;
  background-color: #c62828;
  margin: 8px 0;
}

button, .aHeader {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c62828;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #e53935;
}

.mainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}



footer{
  display: flex;
  width: 100%;
  background-color:#0b132b ;
}

.footerPart1, .footerPart2{
  width: 50%;
  flex: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.footerPart1 ul, .footerPart2 ul{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.footerPart1 ul a, .footerPart2 ul a{
  margin: 5px 0;
}

/*Home*/
.section1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#e7e5e5;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: auto;
}

figure{
  background-color: #1b263b;
  border-radius: 10px;
  width: 50%;
  padding: 15px;
  text-align: center;
  box-shadow: #1a1a1a;
  margin-top: 20px;
}

figure img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

figure h3{
  color: rgb(247, 244, 244);
  margin-bottom: 20px;
  text-align: justify;
}


figure figcaption{
  color: rgb(239, 238, 238);
  text-align: justify;
  margin-top: 20px;
}

/*Deportivas*/
.figDepor{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b263b;
  border-radius: 10px;
  width: 600px;
  padding: 15px;
  text-align: center;
  box-shadow: #1a1a1a;
  margin-top: 20px;
}

/*Internacionales, Contactanos */
#Cuadritos{
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 30px;
}

.Cartas{
  background-color: #1b263b;
  border-radius: 10px;
  width: 340px;
  padding: 15px;
  text-align: left;
  box-shadow: #1a1a1a;
}

.Cartas img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.verMas{
  text-decoration: underline;
}