/*Especificaciones generales delas 4 paginas*/

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    scroll-behavior: smooth;
    min-height: 100vh;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
a{ list-style: none; text-decoration: none; color: rgb(224, 215, 215); }

.divisor {
  width: 95%;
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
}

button, .aHeader {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.mainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}



footer{
  display: flex;
  width: 100%;
}

.footerPart1, .footerPart2{
  width: 50%;
  flex: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.footerPart1 ul, .footerPart2 ul{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.footerPart1 ul a, .footerPart2 ul a{
  margin: 5px 0;
}

/*Home*/
.section1{
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
}
/*Deportivas*/
/*Internacionales*/
/*Contactanos*/